
.0_3 { 
	overflow:hidden;
}
.e0_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1486px;
	height:1712px;
	position:absolute;
}
.e2_20 { 
	width:510px;
	height:286.875px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/afisha_1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_21 { 
	width:510px;
	height:286.875px;
	position:absolute;
	left:976px;
	top:0px;
	background-image:url(images/afisha_1__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_22 { 
	width:510px;
	height:286.875px;
	position:absolute;
	left:976px;
	top:475px;
	background-image:url(images/afisha_1__3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_23 { 
	width:510px;
	height:286.875px;
	position:absolute;
	left:976px;
	top:950px;
	background-image:url(images/afisha_1__4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_24 { 
	width:510px;
	height:286.875px;
	position:absolute;
	left:976px;
	top:1425px;
	background-image:url(images/afisha_1__5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_25 { 
	width:510px;
	height:286.875px;
	position:absolute;
	left:0px;
	top:1425px;
	background-image:url(images/afisha_1__6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_26 { 
	width:510px;
	height:286.875px;
	position:absolute;
	left:0px;
	top:950px;
	background-image:url(images/afisha_1__7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_27 { 
	width:510px;
	height:286.875px;
	position:absolute;
	left:0px;
	top:475px;
	background-image:url(images/afisha_1__8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_28 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:40px;
	position:absolute;
	left:197px;
	top:244px;
	font-family:Inter;
	text-align:left;
	font-size:32.7599983215332px;
	letter-spacing:0;
}
.e2_35 { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:40px;
	position:absolute;
	left:1170px;
	top:244px;
	font-family:Inter;
	text-align:left;
	font-size:32.7599983215332px;
	letter-spacing:0;
}
.e2_29 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:40px;
	position:absolute;
	left:197px;
	top:719px;
	font-family:Inter;
	text-align:left;
	font-size:32.7599983215332px;
	letter-spacing:0;
}
.e2_34 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:40px;
	position:absolute;
	left:1170px;
	top:719px;
	font-family:Inter;
	text-align:left;
	font-size:32.7599983215332px;
	letter-spacing:0;
}
.e2_30 { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:40px;
	position:absolute;
	left:197px;
	top:1194px;
	font-family:Inter;
	text-align:left;
	font-size:32.7599983215332px;
	letter-spacing:0;
}
.e2_33 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:40px;
	position:absolute;
	left:1170px;
	top:1194px;
	font-family:Inter;
	text-align:left;
	font-size:32.7599983215332px;
	letter-spacing:0;
}
.e2_31 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:40px;
	position:absolute;
	left:197px;
	top:1669px;
	font-family:Inter;
	text-align:left;
	font-size:32.7599983215332px;
	letter-spacing:0;
}
.e2_32 { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:40px;
	position:absolute;
	left:1170px;
	top:1669px;
	font-family:Inter;
	text-align:left;
	font-size:32.7599983215332px;
	letter-spacing:0;
}
